@import "normalize.scss";

// Fonts
@font-face {
	font-family: 'Poppins';
	src: url("../fonts/Poppins-SemiBold.woff") format('woff'), url("../fonts/Poppins-SemiBold.woff2") format('woff2');
	font-weight: 600;
}

@font-face {
	font-family: 'Poppins';
	src: url("../fonts/Poppins-Regular.woff") format('woff'), url("../fonts/Poppins-Regular.woff2") format('woff2');
	font-weight: 400;
}

* {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('/assets/img/minimalism-nature-landscape.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

.wrapper {
	width: 30rem;
	padding: 1.875rem 2.5rem 2.5rem 2.5rem;
	background: transparent;
	color: #FFFFFF;
	border-radius: .625rem;
	border: 2px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(1.25rem);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title {
	font-size: 36px;
	font-weight: 600;
	text-align: center;
}

.input__box {
	width: 100%;
	height: 3.125rem;
	margin: 1.875rem 0;
}

.input__box input {
	width: 100%;
	height: 100%;
	padding: 1.25rem 2.8125rem 1.25rem 1.25rem;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 2.5rem;
	font-size: 1rem;
	color: #FFFFFF;
}

.input__box-date {
	width: 100%;
	height: 100%;
}

.input__box-date input {
	padding: .75rem 2.8125rem .75rem 1.25rem;
}

.input__box input::placeholder {
	color: #FFFFFF;
}

.input__box select {
	width: 100%;
	height: 100%;
	padding: 0 1.25rem 0 1.25rem;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 2.5rem;
	font-size: 1rem;
	color: #FFFFFF;
}

.input__box option {
	background-color: #A271E5;
}

.label__gender {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.label__male,
.label__female {
	padding-left: .3125rem;
}

.input__box-male,
.input__box-female {
	display: inline-block;
	margin-left: .625rem;
}

// .input__box i {
// 	position: absolute;
// 	right: 30%;
// 	top: ;
// 	transform: translateX(-50%);
// 	font-size: 1.25rem;
// }

.wrapper .checkbox__box {
	display: flex;
	justify-content: space-between;
	font-size: .9063rem;
	margin: -0.9375rem 0 .9375rem;
	padding: 1.25rem 2.8125rem 1.25rem 0;
}

.wrapper .checkbox__box label input {
	accent-color: #FFFFFF;
	margin-right: .5rem;
	margin-left: .625rem;
}

.wrapper .btn {
	width: 100%;
	height: 2.8125rem;
	font-size: 1rem;
	font-weight: 600;
	background-color: #FFFFFF;
	border-radius: 2.5rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: #333333;
}

.btn:hover {
	background-color: #A271E5;
	color: #FFFFFF;
	border: .0125rem solid #ffffffa4;
	transition: background-color .2s, color .2s, border .2s;
}

.btn:active {
	background-color: #df6ae1;
	color: #FFFFFF;
	border: .0125rem solid #ffffffa4;
	transition: background-color .2s, color .2s, border .2s;
}

.bx {}

.bxs-user {}

.bxs-lock-alt {}